#include "windows.h"
#include "resource.h"

DATASERVER_ICON  ICON  DISCARDABLE   "dataclient.ico"

MAINDIALOG DIALOG 0, 0, 180, 121
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_CHILD | WS_VISIBLE
FONT 10, "MS Sans Serif"
BEGIN
    LISTBOX         MAIN_LISTBOX,0,0,180,121,LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
END
