#include "windows.h"
#include "resource.h"

MY_ICON  ICON    DISCARDABLE     "chooseshotest.ico"

CHOOSE_SHOTS_DIALOG DIALOG 0, 0, 326, 119
STYLE WS_POPUP | WS_VISIBLE
FONT 9, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",1,137,102,50,14,NOT WS_TABSTOP
    LISTBOX         CS_SHOT_TC,212,14,112,84,LBS_SORT | LBS_WANTKEYBOARDINPUT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         CS_MA_LB,3,14,77,84,LBS_SORT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         CS_PA_LB,82,14,129,84,LBS_SORT | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Shot Number",CS_SHOT_NUMBER_STATIC,212,0,57,14,SS_CENTERIMAGE
    LTEXT           "Machine",CS_MACHINE_STATIC,2,0,69,14,SS_CENTERIMAGE
    LTEXT           "Part",CS_PART_STATIC,85,0,71,14,SS_CENTERIMAGE
    LTEXT           "Shots",CS_SHOTS_STATIC,177,0,31,14,SS_CENTERIMAGE
    LTEXT           "Date",CS_DATE_STATIC,277,0,47,14,SS_CENTERIMAGE
END

STRINGTABLE DISCARDABLE
BEGIN
    MAIN_WINDOW_TITLE_STRING "Main Window Title"
END

